<tr>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= user.age %></td>
  <td><%= user.gender %></td>
  <td><%= user.school %></td>
  <td>面接日時（要修正）</td>
  <td><%= button_to '面接一覧', user_interviews_path(user.id), method: :get, class: "btn btn-default" %></td>
</tr>
